# This workflow will build a static react app and deploy to an AWS S3 Bucket

name: Moochat CI/CD

on:
  push: 
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
        cache: 'npm'

    - name: build
      env:
        REACT_APP_AMPLIFY_AUTH_REGION: ${{ secrets.AMPLIFY_AUTH_REGION }}
        REACT_APP_AMPLIFY_AUTH_USER_POOL_CLIENT_ID: ${{ secrets.AMPLIFY_USER_POOL_CLIENT_ID }}
        REACT_APP_AMPLIFY_AUTH_USER_POOL_ID: ${{ secrets.AMPLIFY_USER_POOL_ID }}
      run: |
        npm run build
    
    - name: Upload to S3 
      env:
        BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
        DISTRIBUTION_ID: ${{ secrets.DISTRIBUTION_ID }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: 'us-east-1'
      run: |
        aws s3 sync ./build/static "s3://$BUCKET_NAME/static" --cache-control max-age=3156000
        aws s3 sync ./build/ "s3://$BUCKET_NAME" --exclude "static/*" --cache-control no-cache
        aws cloudfront create-invalidation \
          --distribution-id "$DISTRIBUTION_ID"
          --paths '/*'
          --query Invalidation.Id
          --output text
